<h2><%= @student.name %></h2>

<% @student.weight %>

<% @student.height %>

<% @student.color %>

<% @student.gpa %>

<% @student.sex %>

<% simple_format @student.description %>

<P><%= link_to 'Back to index', :controller => 'students', :action => index' %></P>