th,td {
	padding: 20px;
	text-align:center;
	border: 1px solid black;
}
th{
    background-color: #800000;
    color:white;
    font-weight: bold;
    font-size: 20px;
}
td{
    font-weight: bold;
    font-size: 15px;
}
h2{
    color:gold;
    background-color: red;
}
.edl{
    text-align:center;
}
.rec{
    vertical-align:text-bottom;
    margin-left:25px;
}
.newp{
    text-align:center;
}

.button1{
	background-color: #00ff00;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    float: right;
    cursor: help;
    margin-right: 9px;
}
.button1:hover {
    background-color: #004d00;
    color: white;
}